body {
    background-color: #D5DBDB;
    margin: 0;
}

.logo h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.logo h1 .class {
    background: linear-gradient(grey, darkgrey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.logo h1 .net {
    background: linear-gradient(yellow, gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

header {
    width: 100%;
    box-sizing: border-box;
}

nav {
    background-color: rgba(213, 219, 219, 0.8);
    padding: 8px 15px;
    width: 100%;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-left, .nav-right {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-left li, .nav-right li {
    margin: 0 20px;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    margin-left: auto;
    justify-content: flex-end;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    font-weight: bold;
}

.nav-left a:hover, .nav-right a:hover {
    color: #DEB041;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.bold-rectangle a {
    background: linear-gradient(45deg, #FFD700, #FFEA00, #FFE135, #FFD700, #FFC300, #FFDD00);
    color: #89897d;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.bold-rectangle a:hover {
    background-color: #E74C3C;
}

.chat-link, .create-link {
    text-decoration: none;
    margin: 0;
}

.chat-button,.search-button,.btn-create-course {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    gap: 10px;
    color: #333;
    margin: 0;
    display: flex;
}

.chat-button:hover,.search-button :hover, .btn-create-course:hover {
    color: #c8b103;
    transition: color 0.3s ease;
}

.chat-button svg {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.chat-button:hover svg {
    transform: scale(1.1);
}

.dropbtn {
    background: linear-gradient(rgb(226, 226, 1), rgb(216, 184, 0));
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0;
    text-align: center;
    line-height: 60px;
}

.dropbtn img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 70%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* home page */
.home-content {
    position: relative;
    overflow: hidden;
    height: 30vh;
    width: 100vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

.home-content .bg, .home-content .bg2, .home-content .bg3 {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #d3d8db 50%, #e8e9e7 50%, #e0dddd 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: -1;
}

.home-content .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.home-content .bg3 {
    animation-duration: 5s;
}

.home-content-details {
    left: 50%;
    padding: 10vmin;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

.home-content-details h3 {
    font-size: 50px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.bold-rectangle-home {
    background: linear-gradient(45deg, #FFD700, #FFEA00, #FFE135, #FFD700, #FFC300, #FFDD00);
    color: #89897d;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.bold-rectangle-home:hover {
    background-color: #E74C3C;
}

.dashboard {
    margin-top: 10px;
    padding-top: 0;
}

.course-list {
    padding: 0;
    list-style: none;
}

.course-item {
    margin: 15px 0;
    padding: 15px;
    background: #ECF0F1;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.course-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.course-card {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.card-description,
.card-teacher {
    color: #555;
    font-size: 0.95em;
    margin: 5px 0;
}

.card-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-buttons a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-buttons .btn-register {
    background: linear-gradient(45deg, #FFD700, #FFCC00);
    color: #333;
}

.card-buttons .btn-register:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* login page & register page */
.login-container, .register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: 100px;
}

.login-illustration, .register-illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 0;
}

.login-illustration img, .register-illustration img {
    max-width: 100%;
    height: auto;
}

.login-form, .register-form {
    flex: 1;
    max-width: 480px;
    padding: 50px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form h2, .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label, .register-form label {
    display: block;
    margin-bottom: 8px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form select,
.register-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button, .register-form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #FFD700, #FFEA00, #FFE135, #FFD700, #FFC300, #FFDD00);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover , .register-form button:hover {
    background: linear-gradient(45deg, #FFC300, #FFDD00, #FFE135, #FFD700, #FFEA00, #FFD700);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.messages {
    color: red;
    text-align: center;
}

.registration-link .intro-text {
    background: grey;
    background-clip: text;
    color: transparent;
}

.registration-link .register-link a {
    background: black;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

.registration-link .register-link:hover {
    color: rgb(186, 186, 51);
    text-decoration: underline;
}

/* profile page, change password page, status update  */
.profile-picture {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}

.edit-profile,
.change-password ,
.status-update,
.feedback-form,
.search-user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-sizing: border-box;
}

.edit-profile label,
.change-password label,
.status-update label,
.feedback-form {
    display: block;
    margin-bottom: 8px;
}

.edit-profile input[type="text"],
.edit-profile input[type="email"],
.edit-profile input[type="password"],
.edit-profile select,
.edit-profile input[type="file"],
.change-password input[type="password"],
.feedback-form select,
.feedback-form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px; margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-profile button,
.change-password button,
.status-update button,
.feedback-form button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #FFD700, #FFEA00, #FFE135, #FFD700, #FFC300, #FFDD00);
    color: #999b9b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the button */
.edit-profile button:hover,
.change-password button:hover,
.status-update button:hover,
.feedback-form button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.status-update textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px; margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  /* search results page */
.search_results {
    background: #ffffff00;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.search_results h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(191, 162, 0);
    font-family: 'Arial', sans-serif;
}

.search_results form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.search_results form input {
    border: 2px solid #D5DBDB;
    border-radius: 25px;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    width: 100%;
    max-width: 400px;
    transition: border-color 0.3s;
    font-family: 'Verdana', sans-serif;
}

.search_results form input:focus {
    border-color: #F39C12;
    outline: none;
}

.search_results button {
    background: linear-gradient(45deg, #FFC300, #FFDD00, #FFE135, #FFD700, #FFEA00, #FFD700);
    color: #999b9b;
    border: none;
    border-radius: 25px;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Arial', sans-serif;
}

.search_results button:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.search_results h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: grey;
    font-family: 'Arial', sans-serif;
}

.search_results ul,
.status-update ul,
.feedback-form ul {
    list-style-type: none;
    padding: 0;
}

.search_results ul li,
.status-update ul li,
.feedback-form ul li {
    background-color: #F8F9F9; /* Light grey color */
    border-radius: 25px;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
    font-family: 'Verdana', sans-serif;
}

.search_results ul li:hover ,
.status-update ul li:hover
.feedback-form ul li:hover{
    background-color: #EDEDED;
}

/* create course change */
.create-course {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 100%;
}

.course-illustrating {
    flex: 1;
    max-width: 50%;
}

.course-illustrating .course-image {
    max-width: 100%;
    height: auto;
}

.create-course-form {
    flex: 1;
    max-width: 50%;
    background: #fff;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.create-course-form h2 {
    margin-bottom: 20px;
}

.create-course-form form div {
    margin-bottom: 15px;
}

.create-course-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-course-form input,
.create-course-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-course-form button {
    background-color: #f1c40f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-course-form button:hover {
    background-color: #d4ac0d;
}

.back-link {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #d1e0ff;
    color: #000;
}

/* course view page */

.course-view {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  /* Styling for Course section */
.courses {
    margin-bottom: 30px;
}

a.add-material-btn {
    display: inline-block;
    background-color: #ffcc00; /* A vibrant yellow theme to match a cohesive design */
    color: #333; /* Dark text for contrast */
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }

a.add-material-btn:hover {
    background-color: #ffa500; /* Slightly darker yellow for hover effect */
    color: #fff; /* White text on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle hover shadow */
}

  .courses h2, .card-header h2 {
    color: rgb(226, 192, 0);
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline dotted grey;
}

.card-info a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}


.card-info a:hover {
    color: grey;
}

.courses ul {
    list-style-type: none;
    padding: 0;
}

.courses ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}

/* view courses */

#enroll-table,
#course-material-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#enroll-table th,
#course-material-table th {
    background-color: rgb(226, 192, 0);
    color: #fff;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

#enroll-table td,
#course-material-table td {
    background-color: #f9f9f9;
    color: #555;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.course-row:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

#course-material-table a {
    color: black;
    text-decoration: none;
}

#course-material-table a:hover {
    text-decoration: underline;
}

  /* Progress bar styling */
.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.progress {
    height: 100%;
    background-color: rgb(226, 192, 0);
    border-radius: 5px;
    transition: width 0.5s ease;
}

/* view_courses.html */

.courses button {
    background-color: gold;
    color: #5f5f5f;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.courses button:hover {
    background-color: #a58e6f;
}

.courses form {
    display: inline-block;
    margin: 0;
}

.courses input[type="checkbox"] {
    margin-right: 10px;
}

.courses table td[colspan="5"] {
    text-align: center;
    color: #999;
    font-size: 16px;
    padding: 20px 0;
}

/* Room Page Styling */

.room-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.room-dashboard h1 {
    font-size: 35px;
    color: #d9c82c;
}

.room-content-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.room-content {
    width: 45%;
    padding: 20px;
}

.room-input-container {
    display: flex;
    align-items: center;
}

#room-name-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9e9e9e48;
}

#room-name-input:focus {
    outline: none;
    border: 1.5px solid gold;
}

.room-button {
    margin-left: 15px;
}

#room-name-submit {
    padding: 10px;
    color: rgb(121, 116, 90);
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
}

#room-name-submit:hover {
    background-color: darkgray;
    color: rgb(46, 46, 46);
}

.chat-illustration-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-illustration {
    width: 100%;
    height: auto;
}

/* Chat Dashboard Styles */
.chat-dashboard {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-dashboard h1 {
    font-size: 2em;
    color: rgb(214, 183, 7);
    margin-bottom: 20px;
}

.chat-dashboard h4 {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

#chat-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.my-message {
    align-self: flex-end;
    background-color: #d1f0c4;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    color: #000;
}

.other-message {
    align-self: flex-start;
    background-color: #e8e8e8;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    color: #555;
}

.chat-date {
    font-size: 0.8em;
    color: gray;
    margin-right: 8px;
}

.chat-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#chat-message-input {
    width: 80%;
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-message-submit {
    margin-right: 150px;
    padding: 10px 30px;
    font-size: 1em;
    color: rgb(121, 116, 90);
    border: none;
    cursor: pointer;
}

#chat-message-submit:hover {
    background-color: darkgray;
    color: rgb(46, 46, 46);
}


/* student page and teacher page. Personalized dashboard */
.personalized-dashboard {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
}
.banner {
    background: linear-gradient(to right, #ffd700,#f0e68c, #c0c0c0,#a9a9a9);
    color: rgb(50, 50, 38);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.heading-with-chat h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-icon img {
    width: 30px;
    height: 30px;
}

.user-info h2 {
    margin-top: 20px;
    font-size: 20px;
}

.user-info p {
    margin: 5px 0;
    color: rgba(71, 71, 55, 0.637);
}

.tab-content {
    display: none;
}
#enrolled-courses {
    display: block;
}

.tab-buttons {
    margin-bottom: 20px;
}

.tab-buttons button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    border: none;
    background-color: inherit;
    border-bottom: 2px solid #c4c435; /* Yellow border for the tab buttons */
}

.tab-buttons button:hover {
    border-bottom: 2px solid #a9a9a9;
}

.card-body p {
    color: #555;
    font-size: 0.95em;
    margin: 5px 0;
}

.card-body a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    background: linear-gradient(45deg, #FFD700, #FFCC00);
    font-size: 0.9em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-body a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Progress bar container */
.progress-container {
    margin-top: 20px;
}

.progress-bar {
    background: #f3f3f3;
    border-radius: 8px;
    overflow: hidden;
    height: 12px;
}

.progress {
    background: #bac339;
    height: 100%;
}
.dashboard-content {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    padding-top: 0;
}

.courses-section {
    flex: 3;
}

.sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status-updates {
    background:#f0e68c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-updates h1 {
    font-size: 1.8em;
    color: #2c3e50;
    margin-bottom: 16px;
}

.status-updates form button {
    padding: 12px 25px;
    background-color: #a3a9a3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.status-updates form button:hover {
    background-color: #939c94;
}

.status-updates ul {
    list-style-type: none;
    padding: 0;
}

.status-updates ul li {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
}

.status-updates ul li:hover {
    background-color: #bdc3c7;
    transform: translateX(5px);
}

.status-updates ul li strong {
    font-weight: bold;
    color: #2c3e50;
}

/* Pagination styles */
#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 1.1em;
}

#pagination a {
    color:grey;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid #d5d521;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#pagination a:hover {
    background-color: #a5af15;
    color: white;
}

#first-page, #last-page {
    font-weight: bold;
}

#prev-page, #next-page {
    font-size: 1.1em;
}

/* teacher and student notification popup */
.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.notification-icon {
    background-color: #f8d146;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-size: 2rem;
}
.unread-count {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}
.notification-popup {
    position: absolute;
    bottom: 40px;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: block;
    padding: 15px;
    z-index: 1000;
}

.notification-popup ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-popup ul li {
    margin-bottom: 10px;
}

.notification-popup.hidden {
    display: none;
}

.mark-as-read-btn {
    display: inline-block;
    margin-top: 5px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.mark-as-read-btn:hover {
    background-color: #45a049;
}
