{% extends 'base_generic.html' %}


<!-- Load static files here -->
{% load static %}

{% block title %}Available Courses - ClassNet{% endblock %}

{% block content %}
  <h2>Available Courses</h2>

  <ul>
    {% for course in courses %}
      <li>
        <a href="{% url 'view_course' course.id %}">{{ course.name }}</a>
        {% if user.is_authenticated %}
          {% if course not in user.enrollments.all %}
            <form method="POST" action="{% url 'enroll_in_course' course.id %}">
              {% csrf_token %}
              <button type="submit">Enroll</button>
            </form>
          {% else %}
            <span>You are already enrolled in this course.</span>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <br>
  <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
